[flake8]
application-import-names = about, catalog, core, homepage, lyceum
docstring-quotes = double
exclude = */migrations/*
import-order-style = pep8
inline-quotes = double
multiline-quotes = double
