{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% trans "Яндекс Django Project" %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1 0 auto;
        }
        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    {% include "includes/header.html" %}
    
    <main class="pt-5 my-5">
        <div class="container">
            {% block content %}
            {% trans "Контент не подвезли" %}
            {% endblock %}
        </div>
    </main>
    
    {% include "includes/footer.html" %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
