{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="card-title h2 mb-4">{{ item.name }}</h1>

      <div class="mb-4">
        <h5 class="text-muted mb-2">{% trans "Категория:" %}</h5>
        <p>{{ item.category }}</p>
      </div>

      <div class="mb-4">
        <h5 class="text-muted mb-2">{% trans "Описание:" %}</h5>
        <p>{{ item.text }}</p>
      </div>

      {% if item.tags %}
      <div class="mb-4">
        <h5 class="text-muted mb-2">{% trans "Теги:" %}</h5>
        {% for tag in item.tags %}
        <span class="badge bg-secondary me-1">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}